html, body {
  background-color: #121212;
}

#login-form {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
#login-form label {
  color: #BC6FF1;
  padding: 7px;
  margin-top: 8px;
  text-transform: uppercase;
}
#login-form input#conn {
  margin-top: 20px;
  background-color: #52057B;
  padding: 7px;
}
#login-form input {
  margin-top: 13px;
  background-color: #52057B;
  padding: 7px;
}
#login-form input#conn:hover {
  background-color: #BC6FF1;
}

#wrapper {
  margin: 2vh auto;
  height: 95vh;
  width: 97vw;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 9% 91%;
  grid-template-areas: "logo head" "side main";
  gap: 10px;
}
#wrapper div {
  border-radius: 10px;
}
#wrapper #sidebar {
  grid-area: side;
  background-color: #161616;
  font-family: "Montserrat", sans-serif;
  color: #FAFAFA;
  box-shadow: 0px 0px 5px 1px rgb(12, 12, 12);
}
#wrapper #sidebar .profile {
  margin: 0px;
  font-size: 22pt !important;
  margin-top: 30px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border-bottom: 1px solid #121212;
}
#wrapper #sidebar .profile img {
  max-width: 50%;
  border-radius: 50%;
  border: double 4px transparent;
  background-image: linear-gradient(#121212, #121212), radial-gradient(circle at top left, #52057B 0%, #892CDC 70%, #BC6FF1 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
#wrapper #sidebar .profile p {
  margin: 15px;
  margin-bottom: 30px;
}
#wrapper #sidebar .menu {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: left;
  box-shadow: none;
  width: 100%;
}
#wrapper #sidebar .menu ul {
  list-style-type: none;
  text-align: left;
  font-size: 14pt;
  margin: 0;
  padding: 0;
}
#wrapper #sidebar .menu ul li:hover {
  padding-top: 25px;
  padding-bottom: 20px;
  background-image: radial-gradient(circle at top left, #52057B 0%, #892CDC 70%, #BC6FF1 100%);
}
#wrapper #sidebar .menu ul li {
  padding: 10px;
  padding-bottom: 15px;
  padding-top: 20px;
  max-height: 30px;
  box-shadow: none;
  transition: background-image 2s ease-in-out, padding 0.2s ease-in-out;
  border-bottom: 1px solid #121212;
  cursor: pointer;
}
#wrapper #sidebar .menu ul li.urgent {
  filter: blur(1);
  background-color: #BC6FF1;
  color: transparent;
  text-shadow: 0 0 3px #ffffff;
}
#wrapper #sidebar .menu ul li.urgent img {
  filter: blur(1);
}
#wrapper #sidebar .menu ul li.urgent:hover {
  filter: blur(1);
  background-color: #BC6FF1;
  color: transparent;
  text-shadow: 0 0 3px #ffffff;
  padding: 10px;
  padding-bottom: 15px;
  padding-top: 20px;
  background-image: none;
}
#wrapper #sidebar .menu ul img {
  height: 5px;
}
#wrapper #accueil.veille div {
  display: none !important;
}
#wrapper #logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: flex-end;
  box-shadow: none;
}
#wrapper #logo img {
  max-width: 98%;
  max-height: 98%;
  width: auto;
  height: auto;
}
#wrapper #head {
  box-shadow: 0px 0px 5px 1px rgb(12, 12, 12);
  grid-area: head;
  background-color: #161616;
  border-radius: 7px;
  color: #FAFAFA;
  font-family: "Montserrat", sans-serif;
  display: flex;
  font-size: 14pt;
  font-weight: 500;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#wrapper #head #news {
  font-size: 14pt;
  padding: 10px;
  border-radius: 0;
  width: 60%;
  text-wrap: nowrap;
  overflow: hidden;
}
#wrapper #head #datehelp {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#wrapper #head div {
  padding: 10px;
  border-radius: 0;
  box-shadow: none;
}
#wrapper #head div img {
  max-height: 22pt;
  padding: 10px;
  transition: 0.3s;
  filter: none;
}
#wrapper #head div img:hover {
  transition: 0.3s;
  filter: brightness(0) saturate(100%) invert(73%) sepia(51%) saturate(6312%) hue-rotate(231deg) brightness(95%) contrast(98%);
}
#wrapper #head div .veilleok {
  filter: brightness(0) saturate(100%) invert(73%) sepia(51%) saturate(6312%) hue-rotate(231deg) brightness(95%) contrast(98%) !important;
}
#wrapper #main {
  grid-area: main;
  box-shadow: none;
}
#wrapper #main div#accueil, #wrapper #main div#profil, #wrapper #main div#missions {
  box-shadow: none;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 20px;
}
#wrapper #main div#accueil canvas, #wrapper #main div#profil canvas, #wrapper #main div#missions canvas {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
#wrapper #main #accueil {
  height: 100%;
  width: auto;
}
#wrapper #main #accueil .div1 {
  grid-area: 1/1/3/7;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  display: block;
}
#wrapper #main #accueil .div2 {
  grid-area: 1/7/5/9;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  display: block;
}
#wrapper #main #accueil .div3 {
  grid-area: 3/1/7/3;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  display: flex;
}
#wrapper #main #accueil .div3 div {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}
#wrapper #main #accueil .div3 div .calendar__header {
  padding-bottom: 10px;
  margin-bottom: -4px;
  border-radius: 0;
  scrollbar-width: none;
}
#wrapper #main #accueil .div3 div .calendar__weekday {
  font-size: 13pt;
  opacity: 1 !important;
  font-weight: 700 !important;
}
#wrapper #main #accueil .div3 div .calendar__monthyear {
  font-size: 14pt;
  text-transform: uppercase;
}
#wrapper #main #accueil .div3 div .calendar__days {
  font-size: 12pt;
}
#wrapper #main #accueil .div3 div .calendar__day-event {
  color: #892CDC;
  font-weight: 700;
}
#wrapper #main #accueil .div3 div .calendar__day-bullet {
  display: none;
}
#wrapper #main #accueil .div3 div .calendar__day-selected {
  color: #BC6FF1;
  font-weight: 700;
}
#wrapper #main #accueil .div4 {
  grid-area: 3/3/5/7;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  display: block;
}
#wrapper #main #accueil .div5 {
  grid-area: 5/3/9/7;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}
#wrapper #main #accueil .div5 .agents {
  display: flex;
  box-shadow: none;
  justify-content: space-evenly;
  align-items: center;
  max-height: 75%;
}
#wrapper #main #accueil .div5 .agents div::-webkit-scrollbar {
  display: none;
}
#wrapper #main #accueil .div5 .agents div:last-child {
  border-right: 0px;
}
#wrapper #main #accueil .div5 .agents div {
  border-right: 1px solid #121212;
  border-radius: 0;
  scrollbar-width: none;
  overflow: scroll;
  max-height: 95%;
  max-width: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  box-shadow: none;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Montserrat";
  font-size: 10pt;
  text-wrap: wrap;
  text-align: center;
}
#wrapper #main #accueil .div5 .agents div h2 {
  font-size: 12pt;
  text-align: center;
  font-weight: 500;
  color: #BC6FF1;
}
#wrapper #main #accueil .div5 .agents div img {
  max-width: 70%;
  border-radius: 50%;
  border: double 2px transparent;
  background-image: linear-gradient(#121212, #121212), radial-gradient(circle at top left, #52057B 0%, #892CDC 70%, #BC6FF1 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
#wrapper #main #accueil .div5 h1 {
  font-family: "Montserrat";
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 14pt;
  margin-top: 15px;
  padding-bottom: 10px;
  font-weight: 600;
}
#wrapper #main #accueil .div6 {
  grid-area: 7/1/9/3;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
}
#wrapper #main #accueil .div6 h1 {
  font-family: "Montserrat";
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 14pt;
  margin-top: 15px;
  padding-bottom: 10px;
  font-weight: 600;
}
#wrapper #main #accueil .div6 div {
  box-shadow: none;
  font-family: "Montserrat";
  color: white;
  text-align: center;
}
#wrapper #main #accueil .div6 div .event__name {
  font-weight: 500;
  color: #BC6FF1;
  font-size: 12pt;
  padding: 8px;
  padding-top: 0px;
}
#wrapper #main #accueil .div6 div .event__datestart, #wrapper #main #accueil .div6 div .event__dateend {
  font-weight: 400;
  font-size: 12pt;
  padding: 5px;
}
#wrapper #main #accueil .div7::-webkit-scrollbar {
  display: none;
}
#wrapper #main #accueil .div7 {
  grid-area: 5/7/9/9;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  overflow: scroll;
  scrollbar-width: none;
}
#wrapper #main #accueil .div7 div {
  box-shadow: none;
  height: auto;
  border-bottom: 1px solid #121212;
  color: #FAFAFA;
  font-family: "Montserrat";
  font-size: 13pt;
  scrollbar-width: none;
  padding: 10px;
  border-radius: 0;
  padding-top: 0;
  line-height: 1.4;
}
#wrapper #main #accueil .div7 h1 {
  position: sticky;
  font-family: "Montserrat";
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 14pt;
  margin-top: 15px;
  padding-bottom: 10px;
  font-weight: 600;
}
#wrapper #main #accueil .div7 h2 {
  font-family: "Montserrat";
  color: #BC6FF1;
  text-align: left;
  text-transform: uppercase;
  font-size: 13pt;
  font-weight: 500;
}
#wrapper #main #profil {
  height: 100%;
  width: auto;
  box-shadow: none;
  font-family: "Montserrat";
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 12pt;
  margin-top: 15px;
  padding-bottom: 10px;
  box-shadow: 0px 3px 3px 0px rgb(12, 12, 12);
  font-weight: 500;
}
#wrapper #main #profil h1 {
  position: sticky;
  font-family: "Montserrat";
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 14pt;
  margin-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 0;
  box-shadow: 0px 3px 3px 0px rgb(12, 12, 12);
  font-weight: 600;
}
#wrapper #main #profil div {
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  display: block;
}
#wrapper #main #profil div div {
  border-radius: 0;
}
#wrapper #main #profil div img {
  max-width: 40%;
}
#wrapper #main #profil div p {
  margin-bottom: 0;
}
#wrapper #main #profil #infos {
  grid-area: 1/1/8/3;
}
#wrapper #main #profil #promo {
  grid-area: 1/3/8/6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#wrapper #main #profil #perf {
  grid-area: 1/6/7/9;
}

#code {
  display: none;
}

#code.active {
  height: 100vh;
  width: 100vw;
  background-color: rgba(18, 18, 18, 0.7254901961);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
}
#code.active form {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #121212;
  box-shadow: 0px 0px 5px 1px rgb(12, 12, 12);
  width: 15%;
  height: auto;
  color: #FAFAFA;
  font-family: "Montserrat";
  font-size: 16pt;
  margin: auto;
  margin-top: 10vh;
  padding: 20px;
  border-radius: 10px;
}
#code.active form input {
  border-radius: 10px;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  border: none;
  color: white;
  font-size: 12pt;
  padding: 10px;
  font-family: "Montserrat";
}
#code.active form input:focus-within {
  border-color: #BC6FF1;
}
#code.active form button {
  border-radius: 10px;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  border: none;
  color: #BC6FF1;
  font-size: 12pt;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Montserrat";
  font-weight: 500;
}
#code.active form button:hover {
  background-color: #FAFAFA;
  box-shadow: none;
}
#code.active #indice {
  display: none;
}
#code.active #indice.active {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  width: 80%;
  height: auto;
  color: #FAFAFA;
  font-family: "Montserrat";
  font-size: 18pt;
  font-weight: 500;
  margin: auto;
  margin-top: 10vh;
  padding: 20px;
  border-radius: 10px;
}
#code.active #indice.active form {
  width: 15%;
  margin: auto;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
}
#code.active #indice.active button {
  border-radius: 10px;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  border: none;
  color: #BC6FF1;
  font-size: 12pt;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Montserrat";
  font-weight: 500;
}
#code.active #indice.active button:hover {
  background-color: #FAFAFA;
  box-shadow: none;
}

#accesurgent {
  display: none;
  position: absolute;
  margin: auto;
  width: 99%;
  height: 98%;
  z-index: 1000;
  background-color: rgba(18, 18, 18, 0.7254901961);
}
#accesurgent form {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #121212;
  box-shadow: 0px 0px 5px 1px rgb(12, 12, 12);
  width: 60%;
  height: auto;
  color: #FAFAFA;
  font-family: "Montserrat";
  font-size: 16pt;
  margin: auto;
  margin-top: 10vh;
  padding: 10px;
  border-radius: 10px;
}
#accesurgent form input {
  border-radius: 10px;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  border: none;
  color: white;
  font-size: 12pt;
  padding: 10px;
  font-family: "Montserrat";
}
#accesurgent form input:focus-within {
  border-color: #BC6FF1;
}
#accesurgent form button {
  border-radius: 10px;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  border: none;
  color: #BC6FF1;
  font-size: 12pt;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Montserrat";
  font-weight: 500;
}
#accesurgent form button:hover {
  background-color: #FAFAFA;
  box-shadow: none;
}

form {
  display: flex;
  align-items: flex-end;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
  color: #FAFAFA;
  font-family: "Montserrat";
  font-size: 16pt;
  border-radius: 3px;
  padding: 10px;
}
form div {
  box-shadow: none !important;
}
form input {
  border-radius: 5px;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  border: none;
  color: white;
  font-size: 12pt;
  padding: 3px;
  font-family: "Montserrat";
}
form label {
  font-size: 12pt;
}
form input:focus-within {
  border-color: #BC6FF1;
}
form button {
  border-radius: 5px;
  background-color: #161616;
  box-shadow: inset 0px 0px 4px 0px rgb(0, 0, 0);
  border: none;
  color: #BC6FF1;
  font-size: 12pt;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Montserrat";
  font-weight: 500;
  margin-left: 20px;
}
form button:hover {
  background-color: #FAFAFA;
  box-shadow: none;
}

#promo {
  /* Style the input fields */
  /* Mark input boxes that gets an error on validation: */
  /* Hide all steps by default: */
  /* Make circles that indicate the steps of the form: */
  /* Mark the active step: */
  /* Mark the steps that are finished and valid: */
}
#promo form#regForm {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}
#promo input {
  padding: 10px;
  margin: 20px;
  width: 70%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
#promo input.invalid {
  background-color: #530101;
}
#promo div.tab {
  display: none !important;
}
#promo div.tab.active {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#promo .step {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
#promo button {
  margin-left: 0px;
}
#promo .step.active {
  opacity: 1;
}
#promo .step.finish {
  background-color: #057b29;
}

.ndc, .ndc2 {
  cursor: crosshair !important;
}/*# sourceMappingURL=main.css.map */